@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

a{
  color: black !important;
}

.font{
  font-family: 'Source Sans Pro', sans-serif;
}

.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid blue !important;
  box-shadow: 0 1px 0 0 blue !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}


.home-card{
  max-width: 500px;
  height: max-content;
  margin: 20px auto;
}

#toast-container{ /*default materialize id*/
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.link{
  color: white !important;
}

.collection-item{
  width: 100%;
}